
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
button{
    border-radius: 3px;
    cursor: pointer;
}
.new-sectoin{
    color: black;
    font-weight: bold;
    font-size: 36px;
    margin: 5px 0 8px 25px;
    
    
}
.new-sectoin hr {
    margin-top: 15px;
}

.nav{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 10;
}
.nav-ul{
    
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.nav-ul li {
    border-radius: 3px;
    margin-right: 14px;

}
.nav-ul li a{
    display: block;
text-decoration: none;
color: black;
font-size: large;
transition: 0.5s;

}
.nav .bars{
    text-decoration: none;
    color: grey;
    width: 20px;
    height: 20px;
}

.nav-ul li:hover{
  
    background-color: grey;
}


.logo p span{
    font-weight: bold;
    font-size: 30px;
    padding-right: 8px;
}

/* hero */
.hero{
    background-image: url(images/architect.jpg);
    width: 100vw;
    height: 500px;
    background-repeat: no-repeat;
background-size: cover;}

.hero .in-img{
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
}

.in-img p span {
    background-color: grey;
    margin-right: 10px;
}
/* projects */
.card-sectoin{
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.card{
    width: 45%;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;

}
.card::before{ content: "first home";
    position: absolute;
    width: 200px;
    height: 55px;
    color: white;
    background-color: rgb(44, 44, 44);
    top: -1px;
    text-align: center;
}
.card::before{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* about */
.about{
    font-size: 15px;
    margin-left: 15px;
}
/* emp */

.emp{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.emp-card{
    width: 45%;
    border: 1px solid grey;
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    margin: 10px 0;


}

.imgsectoin  {
    height: 30%;
    width: 100%;
    
}
.imgsectoin img{
    height: 100%;
    width: 100%;
}
 .emp p {
    color: grey;
    text-align: left;

}
.emp h1{
    text-align: left;
}

.emp p ,.emp h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
}
.emp button{
    width: 80%;
    height: 38px;
    margin: 15px auto;
    background-color: rgb(167, 167, 167);
    border: none;
    transition: 0.5s;
}
.emp button:hover{
    background-color: grey;
}
.emp .emp-p{
color:black ;}

/* Contact */
.form form{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.form .inp{
    width: 90%;
    height: 20px;
    margin: 10px auto;

}
.form textarea{
    resize: none;
    width: 90%;
    margin: 10px auto;

}
.form .btn{
    text-align: left;
    width: 15%;
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
    border-radius: 4px;
margin-left: 50px;
transition: 0.8s;
}

.form .btn:hover{
    background-color: rgb(36, 36, 36);
}
/* footer */
.footer{
    background-color: black;
    color: white;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    
}

.footer span{
    color: yellow;
}

@media only screen and (max-width: 768px) {
/* header */
    .nav-ul{
        visibility: hidden;
        position: absolute;

    }
    /* projects */
    .card-sectoin{
        display: block;
        text-align: center;
    }
    .card{
        width: 100%;
        margin: auto;

    }
    .card img{
        width: 100%;
    }
    
    /* emp */
    .emp{
        display: block;
        width: 100%;
    }
    .emp-card{
        width: 100%;
    }
    /* form */
    .form .btn{
        width: 90%;
        margin: auto;
    }

    


  }
